/*  MY PROFILE  */
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Montserrat', sans-serif; }

nav {
  width: 100%;
  height: 70px;
  text-align: right;
  margin-top: 0;
  overflow: hidden; }
  nav ul {
    margin-top: 25px; }
    nav ul li {
      display: inline-block;
      margin-right: 30px; }
      nav ul li a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1em;
        font-weight: 600;
        letter-spacing: 2px;
        padding-bottom: 4px; }
        nav ul li a:hover {
          border-bottom: 2px solid black;
          cursor: default; }

/*  HOME  */
.container {
  width: 100%;
  height: 70vh;
  background-color: #6BD7C5;
  padding-top: 80px; }
  .container #name {
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 2em; }
    .container #name h1 {
      margin: 0; }
  .container #img {
    height: 290px;
    width: 420px;
    border: 5px solid white;
    border-radius: 100%;
    overflow: hidden;
    margin: 50px auto; }
    .container #img img {
      width: 100%;
      height: 100%; }
  .container #title {
    text-align: center; }
    .container #title h2 {
      text-transform: uppercase;
      color: #ffffff;
      font-size: 1.8em; }
    .container #title p {
      color: #ffffff; }

/* PROJECT */
#project-container {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px; }
  #project-container #project-header {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 800; }
  #project-container .projects {
    height: 300px;
    width: 300px;
    display: inline-block; }
    #project-container .projects .project-thumb {
      height: 100%;
      width: 100%; }

.logo {
  width: 100%;
  height: 100%; }

/* FOOTER */
footer {
  width: 100%;
  height: 250px;
  background-color: #244c8c;
  color: #ffffff; }
  footer .footer-box {
    text-align: center;
    height: 70%;
    width: 33%;
    display: inline-block;
    float: left; }
    footer .footer-box .f-headline {
      width: 100%;
      height: 20%; }
      footer .footer-box .f-headline h2 {
        text-transform: uppercase;
        font-size: 1.6em; }
    footer .footer-box .caption {
      width: 100%;
      height: 80%; }
      footer .footer-box .caption .social-link {
        color: #ffffff; }
        footer .footer-box .caption .social-link:hover {
          color: #6BD7C5; }
        footer .footer-box .caption .social-link .fa {
          display: inline-block;
          position: relative;
          top: 5px; }
        footer .footer-box .caption .social-link .fa-github, footer .footer-box .caption .social-link .fa-instagram {
          margin-right: 29px; }
      footer .footer-box .caption #hidden-email {
        display: none; }
  footer .clear {
    clear: both; }

/* MEDIA QUERIES */
@media screen and (max-width: 699px) and (min-width: 374px) {
  nav {
    text-align: center; }
    nav ul {
      width: 100%;
      padding: 0 15px; }

  .container {
    padding-top: 20px; }
    .container #img {
      width: 80%;
      height: 40%;
      margin-top: 0;
      margin-bottom: 0; }
    .container #title h2 {
      margin-bottom: 0; } }

/*# sourceMappingURL=main.css.map */
