$blue: #6BD7C5;
$nav: #3978E3;
$footer: #244c8c;
$white: #ffffff;
$copy: #1a3866;

/*  MY PROFILE  */

body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Montserrat', sans-serif;
}

nav {
	width: 100%;
	height: 70px;
	text-align: right;
	margin-top: 0;
	overflow: hidden;
	ul {
		margin-top: 25px;
		li {
			display: inline-block;
			margin-right: 30px;
			a {
				text-decoration: none;
				text-transform: uppercase;
				font-size: 1em;
				font-weight: 600;
				letter-spacing: 2px;
				padding: 8px;
				&:hover {
					color: white;
					border-radius: 5px;
					background-color: #2f65bc;
				}
			}
		}
	}
}


/* ##################### */
/*  HOME  */

.container {
	width: 100%;
	height: 650px;
	background-color: #6BD7C5;
	#name {
		position: relative;
		top: 12%;
		text-align: center;
		text-transform: uppercase;
		color: #ffffff;
		font-size: 2em;
	}
	#img {
		height: 290px;
		width: 420px;
		border: 5px solid white;
		border-radius: 100%;
		overflow: hidden;
		margin: 0 auto;
		position: relative;
		top: 10%;
		img {
			width: 100%;
			height: 100%;
		}
	}
	#title {
		text-align: center;
		position: relative;
		top: 15%;
		h2 {
			text-transform: uppercase;
			color: #ffffff;
			font-size: 1.8em;
		}
	}
}

/* PROJECT */

#project-container {
	width: 100%;
	height: 450px;
	h1 {
		margin: 0;
		position: relative;
		top: 30px;
		text-transform: uppercase;
		text-align: center;
		color: $nav;
	}
	.project-wrapper {
		height: 350px;
		width: 100%;
		position: relative;
		top: 30px;
		#truckly {
			background: url("../images/truckly_project.png");
			background-repeat: no-repeat;
			background-size: 100% 100%;
		}
		#newgo {
			background: url("../images/newgo_project.png");
			background-repeat: no-repeat;
			background-size: 100% 100%;
		}
		#jun {
			background: url("../images/jun.png");
			background-repeat: no-repeat;
			background-size: 100% 100%;
		}
		.projects {
			width: 30%;
			height: 80%;
			display: inline-block;
			float: left;
			margin-left: 2%;
			margin-top: 3%;
			a {
				text-decoration: none;
				.overlay {
					height: 100%;
					width: 100%;
					background-color: $blue;
					opacity: 0;
					span {
						width: 80%;
						height: 30%;
						position: relative;
						top: 100px;
						p {
							color: #ffffff;
							margin-top: 0;
							text-align: center;
						}
					}
				}
			}
		}
	}
}

/* ABOUT */

#about-container {
	width: 100%;
	height: 450px;
	background-color: $blue;
	h1 {
		margin-top: 0;
		position: relative;
		top: 30px;
		text-transform: uppercase;
		color: #ffffff;
		text-align: center;
	}
	#section-wrapper {
		height: 70%;
		width: 100%;
		position: relative;
		top: 30px;
		#a-left {
			height: 100%;
			width: 45%;
			display: inline-block;
			margin-right: 30px;
			float: left;
			position: relative;
			left: 10%;
			#top-lang {
				width: 100%;
				height: 50%;
				.logo-gallery {
					width: 49%;
					height: 100%;
					float: left;
				}
				.logo-gallery:last-child {
					width: 35%;
				}
			}
			#bottom-lang {
				width: 50%;
				height: 50%;
				border: 1px solid $white;
				margin-left: 15%;
			}
		}
		#a-right {
			height: 100%;
			width: 30%;
			display: inline-block;
			margin-left: 30px;
			float: left;
			position: relative;
			left: 10%;
			p {
				color: $white;
				font-size: 1.2em;
			}
		}
	}
}

.logo {
	width: 100%;
	height: 100%;
}
/* FOOTER */

footer {
	width: 100%;
	height: 250px;
	background-color: $footer;
	color: $white;
	.footer-box {
		text-align: center;
		height: 70%;
		width: 33%;
		display: inline-block;
		float: left;
		.f-headline {
			width: 100%;
			height: 20%;
			h2 {
				text-transform: uppercase;
				font-size: 1.6em;
			}
		}
		.caption {
			width: 100%;
			height: 80%;
			.social-link {
				color: $white;
				&:hover {
					color: $blue;
				}
				.fa {
					display: inline-block;
					position: relative;
					top: 5px;
				}
				.fa-github, .fa-instagram {
					margin-right: 29px;
				}
			}
			#hidden-email {
				display: none;
			}
		}
	}
	.clear {
		clear: both;
	}
}

/* MEDIA QUERIES */
