$blue: #6BD7C5;
$footer: #244c8c;
$white: #ffffff;
$copy: #1a3866;

/*  MY PROFILE  */

body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Montserrat', sans-serif;
}

nav {
	width: 100%;
	height: 70px;
	text-align: right;
	margin-top: 0;
	overflow: hidden;
	ul {
		margin-top: 25px;
		li {
			display: inline-block;
			margin-right: 30px;
			a {
				text-decoration: none;
				text-transform: uppercase;
				font-size: 1em;
				font-weight: 600;
				letter-spacing: 2px;
				padding-bottom: 4px;
				&:hover {
					border-bottom: 2px solid black;
					cursor: default;
				}
			}
		}
	}
}

/*  HOME  */

.container {
	width: 100%;
	height: 70vh;
	background-color: #6BD7C5;
	padding-top: 80px;
	#name {
		text-align: center;
		text-transform: uppercase;
		color: #ffffff;
		font-size: 2em;
		h1 {
			margin: 0;
		}
	}
	#img {
		height: 290px;
		width: 420px;
		border: 5px solid white;
		border-radius: 100%;
		overflow: hidden;
		margin: 50px auto;
		img {
			width: 100%;
			height: 100%;
		}
	}
	#title {
		text-align: center;
		h2 {
			text-transform: uppercase;
			color: #ffffff;
			font-size: 1.8em;
		}
		p {
			color: #ffffff;
		}
	}
}

/* PROJECT */

#project-container {
	width: 75%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 50px;
	#project-header {
		font-size: 2em;
		text-transform: uppercase;
		font-weight: 800;
	}
	.projects {
		height: 300px;
		width: 300px;
		display: inline-block;
		.project-thumb {
			height: 100%;
			width: 100%;
		}
	}
}

.logo {
	width: 100%;
	height: 100%;
}

/* FOOTER */

footer {
	width: 100%;
	height: 250px;
	background-color: $footer;
	color: $white;
	.footer-box {
		text-align: center;
		height: 70%;
		width: 33%;
		display: inline-block;
		float: left;
		.f-headline {
			width: 100%;
			height: 20%;
			h2 {
				text-transform: uppercase;
				font-size: 1.6em;
			}
		}
		.caption {
			width: 100%;
			height: 80%;
			.social-link {
				color: $white;
				&:hover {
					color: $blue;
				}
				.fa {
					display: inline-block;
					position: relative;
					top: 5px;
				}
				.fa-github, .fa-instagram {
					margin-right: 29px;
				}
			}
			#hidden-email {
				display: none;
			}
		}
	}
	.clear {
		clear: both;
	}
}

/* MEDIA QUERIES */
@media screen and (max-width: 699px) and (min-width: 374px) {
    nav {
		text-align: center;
		ul {
			width: 100%;
			padding: 0 15px;
		}
	}
	.container {
		padding-top: 20px;
		#img {
			width: 80%;
			height: 40%;
			margin-top: 0;
			margin-bottom: 0;
		}
		#title h2 {
			margin-bottom: 0;
		}
	}
	#project-container {
		.projects {
		}
	}
}

// @media screen and (min-width: 700px) and {max-width: 1024px} {
//
// }
