$blue: #6BD7C5;
$white: #ffffff;
$copy: #1a3866;

/*  MY PROFILE  */

body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Montserrat', sans-serif;
}

nav {
	width: 100%;
	height: 70px;
	text-align: right;
	margin-top: 0;
	overflow: hidden;
	ul {
		margin-top: 25px;
		li {
			display: inline-block;
			margin-right: 30px;
			a {
				text-decoration: none;
				text-transform: uppercase;
				font-size: 1em;
				font-weight: 600;
				color: $white;
				letter-spacing: 2px;
				padding-bottom: 4px;
				&:hover {
					border-bottom: 2px solid $white;
					cursor: default;
				}
			}
		}
	}
}

/*  HOME  */

.container {
	width: 100%;
	height: 70vh;
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	#title {
		text-align: center;
		color: $white;
		h1 {
			text-transform: uppercase;
			font-size: 3.8em;
		}
		h2 {
			font-size: 1.8em;
			text-transform: uppercase;
		}
	}
}

/* PROJECT */

#project-container {
	width: 75%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 50px;
	#project-header {
		font-size: 2em;
		text-transform: uppercase;
		font-weight: 800;
	}
	.projects {
		height: 300px;
		width: 300px;
		display: inline-block;
		.project-thumb {
			height: 100%;
			width: 100%;
		}
	}
}

.logo {
	width: 100%;
	height: 100%;
}

/* FOOTER */

footer {
	width: 100%;
	height: 250px;
	background-color: #34373d;
	color: $white;
	#social {
		position: relative;
		top: 45%;
		text-align: center;
		a {
			color: $white;
			margin-right: 15px;
			font-size: 30px;
		}
	}
}

/* MEDIA QUERIES */
@media screen and (max-width: 699px) and (min-width: 374px) {
    nav {
		text-align: center;
		ul {
			width: 100%;
			padding: 0 15px;
		}
	}
	.container {
		padding-top: 20px;
		#img {
			width: 80%;
			height: 40%;
			margin-top: 0;
			margin-bottom: 0;
		}
		#title h2 {
			margin-bottom: 0;
		}
	}
	#project-container {
		.projects {
		}
	}
}

// @media screen and (min-width: 700px) and {max-width: 1024px} {
//
// }
